/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #111;
  background: #fff;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: green;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a.active {
  color: green;
}

.auth-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.auth-links .signup {
  color: green;
  font-weight: bold;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 50px;
  background: linear-gradient(to right, #fff 60%, #e6ffe6 40%);
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text .green {
  color: green;
}

.hero-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #444;
}

.hero-text button {
  background: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.hero-text button:hover {
  background: darkgreen;
}

.hero-image img {
  width: 380px;
  max-width: 100%;
}
